table {
    width: 100%;
    border: 1px solid black;
}

th, td {
    border: 0.5px solid black;
}

td {
    border: 0.5px solid black;
    text-align: center;
}

.positive-indicator {
    background-color: green;
}

/*.neutral-indicator {
    To be implemented
}*/ 

/*.negative-indicator {
    To be implemented
} */