table, tr, th, td {
    border: 1px solid black;
}

.range-table {
    /* position: absolute; */
    /* width: 240px; */
    /* height: 12px; */
    float: right;
}

.vol-table {
    /* position: relative; */
    /* width: 240px; */
    /* height:123px; */
    float: left;
}

.comp-table {
    width: 38%;
    display: inline-block;
}

.table-wrap {
    position: absolute;
    width: 100%;
}