<!--The whole content below can be removed with the new code.-->
<h1>Stock Information</h1>
<!--div>The symbol is {{symbol}}</div>
<br/>
<div>The ask is {{ask}}</div-->
<!--ol>
        <li *ngFor="let company of company_info" >
            {{company.symbol}} || 50-day moving average: {{company.mavg_50}} || 200-day moving average: {{company.mavg_200}}
        </li>
</ol-->
<!--data-table [companies]="company_info"></data-table>
<div id="chartContainer"></div-->
<tabs>
    <tab [tabTitle]="'Table'">
        <data-table [companies]="company_info"></data-table>
    </tab>
    <tab tabTitle="Charts">
        <basic-chart></basic-chart>
    </tab>
    <tab tabTitle="History">
        <historical-data [company_data]="company_histories"></historical-data>
    </tab>
</tabs>
