<!--table>
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Last Updated</th>
        <th>Open</th>
        <th>Daily High</th>
        <th>Daily Low</th>
        <th>Close*</th>
        <th>Daily Range</th>
        <th>50 Day Moving Average</th>
        <th>VS. Price</th> 
        <th>200 Day Moving Average</th>
        <th>VS. Price</th> 
    </tr>
    <tr *ngFor="let company of companies">
        <td>{{company.symbol}}</td>
        <td>{{company.name}}</td>
        <td>{{company.last_updated}}</td>
        <td>{{company.open_price == null ? "N/A" : company.open_price}}</td>
        <td>{{company.daily_high == null ? "N/A" : company.daily_high}}</td>
        <td>{{company.daily_low == null ? "N/A" : company.daily_low}}</td>
        <td>{{company.close_price == null ? "N/A" : company.close_price}}</td>
        <td>{{company.daily_range == -1 ? "N/A" : (company.daily_range).toFixed(2)}}</td>
        <td>{{company.mavg_50}}</td>
        <td>{{company.close_price == null ? "N/A" : (company.mavg_50 - company.close_price).toFixed(2)}}</td> 
        <td>{{company.mavg_200}}</td>
        <td>{{company.close_price == null ? "N/A" : (company.mavg_200 - company.close_price).toFixed(2)}}</td>  
    </tr>
</table-->
<table>
    <tr>
        <th>Symbol</th>
        <th>Current Price</th>
        <th>3 Day Pivot</th>
        <th>% Change (5 Days)</th>
        <th>Curr > 50 > 100 > 200</th>
        <th>10D vol > 3M Vol</th>
        <th>Gap Detection</th>
        <th>Range Expanding</th>
        <th>50 Day Moving Average</th>
        <th>100 Day Moving Average</th>
        <th>200 Day Moving Average</th>
        <th>3 Month (90 Day) Volume</th>
        <th>10 Day Volume</th>
        
        <!--th>% Change Index (5 Day)</th -->

    </tr>
    <tr *ngFor="let company of keys">
        <td>{{dispData[company].symbol}}</td>
        <td>{{dispData[company].currentPrice == 0 ? "N/A" : dispData[company].currentPrice.toFixed(2)}}</td>
        <td>
            <div class="positive-indicator" 
                *ngIf="dispData[company].currentPrice > dispData[company].pivotavg && dispData[company].currentPrice != 0">
                {{dispData[company].pivotavg == 0 ? "N/A" : dispData[company].pivotavg.toFixed(2)}}
            </div>
            <div class="negative-indicator" 
                *ngIf="dispData[company].currentPrice < dispData[company].pivotavg && dispData[company].currentPrice != 0">
                {{dispData[company].pivotavg == 0 ? "N/A" : dispData[company].pivotavg.toFixed(2)}}
            </div>
            <div class="neutral-indicator" 
                *ngIf="dispData[company].currentPrice == dispData[company].pivotavg && dispData[company].currentPrice != 0">
                {{dispData[company].pivotavg == 0 ? "N/A" : dispData[company].pivotavg.toFixed(2)}}
            </div>
            <div class="neutral-indicator" 
                *ngIf="dispData[company].currentPrice == 0">
                Loading...
            </div>
        </td>
        <td>
            <div class="positive-indicator" 
                *ngIf="dispData[company].percentChange5Day > 0 && dispData[company].currentPrice != 0">
                {{dispData[company].percentChange5Day == 0 ? "N/A" : "" +  dispData[company].percentChange5Day.toFixed(2) + "%"}}
            </div>
            <div class="negative-indicator" 
                *ngIf="dispData[company].percentChange5Day < 0 && dispData[company].currentPrice != 0">
                {{dispData[company].percentChange5Day == 0 ? "N/A" : "" +  dispData[company].percentChange5Day.toFixed(2) + "%"}}
            </div>
            <div class="neutral-indicator" 
                *ngIf="dispData[company].percentChange5Day == 0 && dispData[company].currentPrice != 0">
                {{dispData[company].percentChange5Day == 0 ? "N/A" : "" +  dispData[company].percentChange5Day.toFixed(2) + "%"}}
            </div>
            <div class="neutral-indicator" 
                *ngIf="dispData[company].currentPrice == 0">
                Loading...
            </div>
        </td>
        <td>
            <div class="positive-indicator" 
                *ngIf="mavgUpSlope(company) && dispData[company].currentPrice != 0">Up</div>
            <div class="neutral-indicator" 
                *ngIf="!mavgUpSlope(company) && dispData[company].currentPrice != 0">[Not up]</div>
            <div class="neutral-indicator" 
                *ngIf="dispData[company].currentPrice == 0">Loading...</div>
        </td>
        <td>
            <div class="positive-indicator" 
                *ngIf="volCompare(company) && dispData[company].day10Volume != 0">Up</div>
            <div class="neutral-indicator" 
                *ngIf="!volCompare(company) && dispData[company].day10Volume != 0">[Not up]</div>
            <div class="neutral-indicator" 
                *ngIf="dispData[company].day10Volume == 0">Loading...</div>
        </td>
        <td>
            <div class="highlight-indicator" 
                *ngIf="dispData[company].gappresent && dispData[company].day10Volume != 0">
                Gap Present
            </div>
            <div *ngIf="!(dispData[company].gappresent && dispData[company].day10Volume != 0)">
                No Gap
            </div>
        </td>
        <td>
            <div class="highlight-indicator" 
                *ngIf="dispData[company].rangeExp && dispData[company].day10Volume != 0">
                Expanding
            </div>
            <div *ngIf="!(dispData[company].rangeExp && dispData[company].day10Volume != 0)">
                Not Expanding
            </div>
        </td>
        <td>{{dispData[company].mavg_50 == 0 ? "N/A" : dispData[company].mavg_50.toFixed(2)}}</td>
        <td>{{dispData[company].mavg_100 == 0 ? "N/A" : dispData[company].mavg_100.toFixed(2)}}</td>
        <td>{{dispData[company].mavg_200 == 0 ? "N/A" : dispData[company].mavg_200.toFixed(2)}}</td>
        <td>{{dispData[company].month3Volume == 0 ? "N/A" : dispData[company].month3Volume.toFixed(2)}}</td>
        <td>{{dispData[company].day10Volume == 0 ? "N/A" : dispData[company].day10Volume.toFixed(2)}}</td>
        
        
        <!--td>TODO</td-->
    </tr>
</table>