<div>Sector:</div>

<select id="sector-select" [ngModel]="activeSector" (ngModelChange)="setActiveSector($event)">
    <option value="TECH">Technology</option>
    <option value="FINA">Financial</option>
    <option value="HECA">Healthcare</option>
    <option value="COND">Consumer Discretionary</option>
    <option value="ENER">Energy</option>
    <option value="INDU">Industrials</option>
    <option value="MATE">Materials</option>
    <option value="UTIL">Utilities</option>
    <option value="REAL">Real Estate</option>
    <option value="CONS">Consumer Staples</option>
    <option value="TELC">Telecommunications</option>
    <option value="FAV">Favorites</option>
</select>

<br />
<br />

<sector-table [dispData]="dispData" *ngIf="activeSector=='TECH'"></sector-table>
<sector-table [dispData]="financeDispData" *ngIf="activeSector=='FINA'"></sector-table>
<sector-table [dispData]="healthDispData" *ngIf="activeSector=='HECA'"></sector-table>
<sector-table [dispData]="cDisDispData" *ngIf="activeSector=='COND'"></sector-table>
<sector-table [dispData]="energyDispData" *ngIf="activeSector=='ENER'"></sector-table>
<sector-table [dispData]="industrialsDispData" *ngIf="activeSector=='INDU'"></sector-table>
<sector-table [dispData]="materialsDispData" *ngIf="activeSector=='MATE'"></sector-table>
<sector-table [dispData]="utilDispData" *ngIf="activeSector=='UTIL'"></sector-table>
<sector-table [dispData]="realDispData" *ngIf="activeSector=='REAL'"></sector-table>
<sector-table [dispData]="conSDispData" *ngIf="activeSector=='CONS'"></sector-table>
<sector-table [dispData]="teleComDispData" *ngIf="activeSector=='TELC'"></sector-table>
<sector-table [dispData]="favoritesDispData" *ngIf="activeSector=='FAV'"></sector-table>