<div *ngFor="let series of seriesByCompany" class="chart">
      <ngx-charts-line-chart 
            [view]="view"
            [scheme]="colorScheme"
            [results]="series"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale">
      </ngx-charts-line-chart>
</div>