<!--table>
    <tr>
        <th>Company</th>
        <th>{{this.company_data != null}}</th>
        <th>{{this.volatilityData != []}}</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table-->
<h1>Volatility</h1>
<!--ol>
    <li *ngFor="let company of volatilityData">
        {{company.symbol}} || Volatility: {{company.volatility.toFixed(2)}} || Range: {{company.range.toFixed(2)}}
    </li>
</ol-->
<h3>Companies by Volatility (Descending)</h3>
<table>
    <tr>
        <th>Company</th>
        <th>Volatility</th>
    </tr>
    <tr *ngFor="let company of volatilityData">
        <td>{{company.symbol}}</td>
        <td>Volatility: {{company.volatility.toFixed(2)}}</td>
    </tr>
</table>
<br />
<h3>Companies by Average Range (Descending)</h3>
<table>
    <tr>
        <th>Company</th>
        <th>Range</th>
    </tr>
    <tr *ngFor="let company of volatilityByRange">
        <td>{{company.symbol}}</td>
        <td>Range: {{company.range.toFixed(2)}}</td>
    </tr>
</table>